# Configuration de la base de données Neon PostgreSQL
DATABASE_URL=postgresql://user:password@host.neon.tech/dbname?sslmode=require

# Configuration Cloudinary
CLOUDINARY_CLOUD_NAME=votre_cloud_name
CLOUDINARY_API_KEY=votre_api_key
CLOUDINARY_API_SECRET=votre_api_secret

# Clé secrète JWT
JWT_SECRET_KEY=votre_secret_key_super_securise_ici

# Environnement Flask
FLASK_ENV=development
